/*start parrallax styles*/

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-image: url('/background.png');
    font-family: Arvo;
    text-align: center;
}
 
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    color: white;
    background-color: grey;
}

.btn-primary {
    background: white;
    color: black;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: grey;
}
.btn-primary:active, .btn-primary.active {
    background: black;
    box-shadow: none;
}

.sharp {
  border-radius:0;
}

#header{
    margin: 0 auto;
    display: inline-block;
    background: url("/atom_black_blur.png") no-repeat 50% center fixed;
    background-size: 85% auto;
    -webkit-background-size: 85% auto;
    -moz-background-size: 85% auto;
    -o-background-size: 85% auto;
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

#earth, #content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    padding: 5%;
}

#content{

}

#earth{
    padding-top: 0;
}

.nav_buttons{
    margin-top: 2%;
    margin-bottom: 3%;
}

#mobile_content{
    display: none;
}


/*end parrallax styles*/

h1, h2, h3, h4{
  text-align: center;
  color: white;
}

.title{
    margin-top: 5%;
    font-size: 64px;
}

.text{
    color: white;
    text-align: left;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 1px;
}

.book_header{
    text-align: left;
    margin-left: 5%;
}

#bill_diff_title{
    text-align: left;
    padding-top: 2%;
    padding-left: 2%;
    position: fixed;
    z-index: 11;
    font-size: 64px;
}

.row{
    padding-bottom: 3%;
    margin-left: 3%;
    margin-top: 6%;
}

.amazon_widget{
    -webkit-box-shadow: 2px -11px 70px 2px rgba(145,140,145,0.66);
    -moz-box-shadow: 2px -11px 70px 2px rgba(145,140,145,0.66);
    box-shadow: 2px -11px 70px 2px rgba(145,140,145,0.66);
    margin-top: 
}

.book_widget{
    margin-top: 3%;
}

/*bio page*/

#bio_content{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

#bill_photo{
    border-radius: 5%;
    margin: 0 auto;
    margin-bottom: 6%;
    -webkit-box-shadow: -3px -3px 100px -2px rgba(145,140,145,0.66);
    -moz-box-shadow: -3px -3px 100px -2px rgba(145,140,145,0.66);
    box-shadow: -3px -3px 100px -2px rgba(145,140,145,0.66);

}

.bio_text{
    text-align: left;
    margin: 0 0 5% 0;
    color: white;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 1px;
}


@media screen and (max-width: 400px){
    h1{
        font-size: 40px;
    }

    #bill_diff_title{
        font-size: 42px;
    }

    #earth, #header, #content{
        display: none;
    }

    #mobile_content{
        margin: 0 auto;
        display: inline-block;
        background: url("/atom_black_blur.png") no-repeat 50% center fixed;
        background-size: 85% auto;
        -webkit-background-size: 85% auto;
        -moz-background-size: 85% auto;
        -o-background-size: 85% auto;
        width: 100%;
        min-height: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        overflow: hidden;
    }

    .btn{
        padding: 7px 12px;
    }

    .title{
        margin-top: 12%;
    }

    #bill_photo{
        margin-top: 5%;
        margin-bottom: 15%;
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
    }

    .book_widget{
        margin-top: 10%;
        margin-bottom: 10%;
    }
}