h1{
  text-align: center;
}

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
}

#header{
    margin: 0 auto;
    display: inline-block;
    background: url("/background1.jpg") no-repeat top center fixed;
    background-size: auto;
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}

#content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}