/*start parrallax styles*/

html{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #08D0A9;
    font-family: Droid Sans;
}

#header{
    margin: 0 auto;
    display: inline-block;
    background: url("/atom.png") no-repeat top center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
    height: auto;
    width: 50%;
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 50px;
}

#content{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*end parrallax styles*/

h1{
  text-align: center;
}
